:root {
    --site-bg: url('assets/pinkstar.gif');
    --accent-color: #f55cc0;
    --select-color: #faffc1;
    --link-color: #c82c97;
    --bg-color: #ffc1e9;
    --bg-color2: #ffffff;
    --text-color: #c82c97;
    --border-color: #c82c97;
    --post-header-color: #ffffff;
    --post-shadow-color: #c82c97;
    --outline-color: #c82c97;
    --outline-color2: #f55cc0;
}
* {
    box-sizing: border-box;
    font-family: "Acme", Alegreya, sans-serif;
}
::selection {
    background: #faffc1;
    color: #c82c97;
}
@font-face {
  font-display: swap;
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/amarante-v29-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/alegreya-sans-sc-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-weight: 400;
  src: url('Fonts/alegreya-sans-sc-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 500;
  src: url('Fonts/alegreya-sans-sc-v23-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  src: url('Fonts/acme-v26-latin-regular.woff2') format('woff2');
}

body {
    background-color: #ffe6f6;
    background-image: url('assets/pinkstar.gif');
    background-repeat: repeat;
    margin: 0;
    font-size: 18px;
    color: #c82c97;
}
p {line-height: 1.5em;}

h1 {
    font-family: 'Amarante', Alegreya Sans SC, serif;
    font-size: 1.5em;
    color: #ffffff;
    filter: drop-shadow(2px 0 0 #c82c97), drop-shadow(0 2px 0 #c82c97), drop-shadow(-2px 0 0 #f55cc0), drop-shadow(0 -2px 0 #f55cc0), drop-shadow(0 1px 1px #ffc1e9), drop-shadow(1px 0 1px #ffc1e9);
}
h4,
h5,
h6 {color: #c82c97;}

header > h1 {
    background-color: #ffffff;
    color: #c82c97;
    margin: .5em auto;
    font-size: 2.5em;
    width: fit-content;
    padding: 6px 12px;
    border-radius: 2em;
    border: 4px double #c82c97;
    filter: none;
    text-align: center;
}

.underline {
  text-decoration: dotted #c82c97;
}

hr {
    display: block;
    border: 0;
    height: 48px;
    width: 430;
    background-image: url('assets/div-star.png');
}

nav {margin: 2em;}

nav > ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

nav li {
  display: block;
  margin-bottom: 2.5em;
  text-align: center;
  list-style-image: none;
}

nav li > a {
    font-weight: bold;
    background-color: #ffc1e9;
    border: 4px double #c82c97;
    padding: .5em;
    text-decoration: none;
}
nav li > a:visited {color: #c82c97;}
nav li > a:hover {
    color: #c82c97;
    background-color: #faffc1;
}
    
a {
    color: #c82c97;
    border-radius: .3em;
    transition: .2s ease-out;
}

a:hover {
    color: #c82c97;
    border-color: #c82c97;
    transition: .2s ease;
}

ul li {
    list-style: url('assets/starbullet.png')
}

li {
    margin: 10px;
    line-height: 1.5em;
}

#sidebar {
    background-color: #ffffff;
    color: #c82c97;
    width: 250px;
    height: fit-content;
    margin: 1em;
    border: 4px double #c82c97;
    border-radius: 2em;
}
.small-box {
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 4px double #ffc1e9;
    border-radius: 2em;
    line-height: 1rem;
}

.coloredbox {
    margin: 10px;
    padding: .5em;
    background: #ffc1e9;
    border: 4px double #c82c97;
    border-radius: 2em;
}

.coloredbox p {margin: 1em;}

iframe {
    border: none;
    width: 420;
    height: 252;
}

.contactform {
  width: 480px;
  height: 100%;
  margin: 0;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}

#content {
    display: flex;
    align-content: center;
    max-width: 950px;
    padding: .5em;
    margin: 1em;
}

main {
    padding: 1em;
}

section {
    background-color: #ffc1e9;
    border-radius: .5em;
    margin-bottom: 10px;
    padding: .2em 1em;
    font-size: 18px;
}

.button {
    background-color: white;
    border: 2px dashed #c82c97;
    border-radius: 2em;
    text-align: center;
    color: #c82c97;
    text-decoration: none;
}

.button:hover {
    background-color: #faffc1;
}

article {
    background-color: #ffffff;
    margin-top: 1em;
    padding: 1em;
    border: 2px solid #c82c97;
    border-radius: .5em;
    margin-bottom: 1em;
    box-shadow: #c82c97 5px 5px;
}

.projectspage {
  max-width: 680px;
}

article img {
    max-width: 100%;
}

details > summary {
    cursor:pointer;
    margin: 10px;
    padding: 5px;
    list-style: url('assets/starbullet.png')
}

.headingsummary {
    font-size: 1.5em;
    
}

.readmore summary {
    font-weight: bold;
    color: #c82c97;
    list-style: none;
}
.readmore summary::-webkit-details-marker {
  display: none;
}
.readmore[open] > summary {
    border-bottom: 2px dashed #c82c97;
    padding-bottom: .6em;
    margin-bottom: .6em;
}

.video {
    margin: 2.5em;
    border-radius: 0.75em;
    box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
-webkit-box-shadow: 0px 6px 40px 10px rgba(166,16,119,0.6);
-moz-box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
}

img {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
    -webkit-box-shadow: 0px 6px 40px 10px rgba(166,16,119,0.6);
    -moz-box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
}

.post-header {
    color: #c82c97;
    font-weight: bold;
    padding: .5rem 0;
    border-bottom: 4px double #c82c97;
}
.timestamp {
    font-weight: normal;
    font-size: smaller;
    margin: .2em;
    float: right;
}

.center { text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.small-text {
    font-size: 12px;
    text-shadow: #ffc1e9 1px 1px;
}

footer {
    text-align: center;
    font-size: small;
    margin: auto;
    padding: 1em;
    width: 100%;
    background: #ffffff;
}

.imagebutton {
    height: 31px;
    width: 88px;
}

/* Slideshow container */
.slideshow-container1 {
  align-items: center;
  max-width: 450px;
  position: relative;
  margin: auto;
}

.slideshow-container2 {
  align-items: center;
  max-width: 450px;
  position: relative;
  margin: auto;
}

.slideimg {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 400px;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
-webkit-box-shadow: 0px 6px 40px 10px rgba(166,16,119,0.6);
-moz-box-shadow: 0px 5px 40px 10px rgba(166,16,119,0.6);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides:active {
  display: flex;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

.mySlides2:active {
  display: flex;
}

/* Number text (1/3 etc) */
.numbertext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-repeat: no-repeat;
  padding: 1em;
  font-family: 'Amarante', Alegreya Sans SC, serif;
  color: #c82c97;
  font-size: 18px;
  position: relative;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: auto;
  padding: 15px;
  color: #c82c97;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: auto;
  color: #c82c97;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev2 {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 800px) {
    #content {
        flex-wrap: wrap;
    }

    .projectspage {
        max-width: 320px;
    }
    .contactform {
    width: 320px;
    }
    #sidebar {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 0;
    }
    
    header {min-height: 160px;}
   
    header > h1 { 
        width: fit-content;
        padding: .3em 1em;
    }
    
    nav > ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #bio {width: fit-content;}
    
    .smallbox {width: fit-content;}
    
    hr {width: 100%;}
    
    article img {
        width: 75%;
    }
    
    .imagebutton {
        max-width: 100%;
        height: auto;
    }
    
    .headingsummary {
    font-size: 1.3em;
    width: 200px;
}
    
    #sidebar {
    border: 4px double #c82c97;
    border-radius: 2em;
    }
    
    #sidebar ul {
        line-height: 2em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
   
    #sidebar li {
        margin: .3em 1em;
    }
    
}